<h1 class="title">Your Cart</h1>

<div class="empty" *ngIf="emptyBoolean">
    <h3 class="empty-cart">Your cart is empty</h3>
    <a routerLink="/rental"> Add a boat!</a>    
</div>

<table *ngIf="tableBoolean">
    <tr>
        <th class="header">Boat</th>
        <th class="header">Date</th>
        <th class="header">Duration</th>
        <th class="header">Pick Up Time</th>
        <th class="header">Height</th>
        <th class="header">Weight</th>
    </tr>
    <tr *ngFor="let boat of boatsArray">
        <td class="data">{{boat.boat}}</td>
        <td class="data">{{boat.date}}</td>
        <td class="data">{{boat.duration}}</td>
        <td class="data">{{boat.time}}</td>
        <td class="data">{{boat.height}}</td>
        <td class="data">{{boat.weight}}</td>

    </tr>
</table>

<div *ngIf="infoBoolean" class="container info">
    <form class="form mt-4" [formGroup]="userInfo">
               
        <mat-form-field>
            <mat-label >First Name</mat-label>
            <input name="firstName" matInput type="text" formControlName="firstName" class="firstName"  required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label >Last Name</mat-label>
            <input name="lastName" matInput type="text" formControlName="lastName" class="lastName"  required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label >Email</mat-label>
            <input name="email" matInput type="text" formControlName="email" class="email"  required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label >Phone</mat-label>
            <input name="phone" matInput type="text" formControlName="phone" class="phone"  required>
        </mat-form-field>
        <br>
               
        <button class="btn-secondary mb-4 submit" (click)="onSubmit()" [disabled]="!userInfo.valid">Add to Cart</button>
        
        <div *ngIf="userInfo.invalid && (userInfo.dirty || userInfo.touched)"class="alert alert-danger">
            All fields are mandatory
        </div>

    </form>
</div>