.title {
  font-size: 300%;
  font-family: "Cinzel", serif;
  text-align: center;
}
table {
  text-align: center;
}

.empty {
  text-align: center;
}
.empty-cart {
  font-size: 200%;
  font-family: "Cinzel", serif;
}

.header {
  font-family: "Cinzel", serif;
}
